body{
    margin: 0;
}

@font-face {
    font-family: "Poppins-Bold";
    src: local(Poppins-Bold), url(../poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: "Poppins-Regular";
    src: local(Poppins-Regular), url(../poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins-Medium";
    src: local(Poppins-Medium), url(../poppins/Poppins-Medium.ttf);
}

#div-login {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #000014, #7800ff);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.form-login{
    width: 25%;
    height: 75vh;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.form-login h1{
    height: 65vh;
    font-family: Poppins-Bold;
    font-size: 2.3rem;
    color: #333333;
}

.input-user p{
    font-family: Poppins-Regular;
    font-size: 0.875rem;
    color: #333333;
}

.input-pass p{
    font-family: Poppins-Regular;
    font-size: 0.875rem;
    color: #333333;
}

.div-data{
   position: fixed;
}

.div-data input{
    width: 35vh;
    height: 3.6vh;
    border-block-start: none;
    border-inline-end: none;
    border-inline-start: none;
    color: #333333;
    font-family: Poppins-Medium;
    outline: none !important;
    font-size: 1rem;
}

.div-data .forgot-pass{
    display: flex;
    justify-content: flex-end;
}

.forgot-pass:hover{
    color: #7700ff;
}

button {
    width: 17vw;
    height: 5vh;
    margin: 1rem;
    font-family: Poppins-Medium;
    font-size: 1rem;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right,#7800ff8a 20%,#7700ff 60%,  #4c00a2 80%);
    outline: none !important;
    border-radius: 1.5rem;  
    position: relative;
    z-index: 1;
    overflow: hidden;
}

button[class^="login"]::after {
    transition: all 0.35s;
  }

button[class^="login"]:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.35s;
  }

button[class^="sign"]::after {
    transition: all 0.35s;
  }

button[class^="sign"]:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.35s;
  }
  
  button::after {
    content: "";
    background: linear-gradient(to right,#4c00a2 20%, #7700ff 60%, #7800ff8a 80%);
    position: absolute;
    z-index: -1;
    padding: 0.85em 0.75em;
    display: block;
    border-radius: 1.5rem;  
  }
  
  button.login_button::after {
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
  }

  button.sign_button::after {
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
  }

.p-sign-up{
    font-family: Poppins-Regular;
    font-size: 0.875rem;
    color: #333333;
    text-align: center;
    margin-top: 5vh;
}

.icones-socias{
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.icones-socias img{
    width: 6vh;
    padding: 0.5vh;
}


@media only screen and (min-width: 2500px) and (max-width: 3768px) {
    .form-login{
        width: 20%;
   }
   #user-login {
       width: 100%;
   }
   #pass-login {
       width: 100%;
   }
}

@media only screen and (min-width: 800px) and (max-width: 2500px)  {
    .form-login{
        width: 40vh;
    }
    #user-login {
        width: 37vh;
    }
    #pass-login {
        width: 37vh;
    }
    button {
        width: 35vh;
    }
}

 @media only screen and (max-width: 799px) {
    .form-login{
        width: 100%;
        height: 100vh;
        border-radius: 0;
    }
    .form-login h1{
        padding: 9px;
    }
}










