body{
    margin: 0;
}

@font-face {
    font-family: "Poppins-Bold";
    src: local(Poppins-Bold), url(../poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: "Poppins-Regular";
    src: local(Poppins-Regular), url(../poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins-Medium";
    src: local(Poppins-Medium), url(../poppins/Poppins-Medium.ttf);
}

#div-login {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #000014, #7800ff);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.form-login{
    width: 20vw;
    height: 75vh;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.form-login h1{
    height: 65vh;
    font-family: Poppins-Bold;
    font-size: 2.3rem;
    color: #333333;
}

.input-user p{
    font-family: Poppins-Regular;
    font-size: 0.875rem;
    color: #333333;
}

.input-pass p{
    font-family: Poppins-Regular;
    font-size: 0.875rem;
    color: #333333;
}

.div-data{
   position: fixed;
}

.div-data input{
    width: 35vh;
    height: 3.6vh;
    border-block-start: none;
    border-inline-end: none;
    border-inline-start: none;
    color: #333333;
    font-family: Poppins-Medium;
    outline: none !important;
    font-size: 1rem;
}

.div-data .forgot-pass{
    display: flex;
    justify-content: flex-end;
}

#login-button, #sign-button {
    width: 17vw;
    height: 5vh;
    margin: 1rem;
    font-family: Poppins-Medium;
    font-size: 1rem;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right,#7800ff8a 20%,#7700ff 60%,  #4c00a2 80%);
    outline: none !important;
    border-radius: 1.5rem;
}

.p-sign-up{
    font-family: Poppins-Regular;
    font-size: 0.875rem;
    color: #333333;
    text-align: center;
    margin-top: 5vh;
}

.icones-socias{
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.icones-socias img{
    width: 6vh;
    padding: 0.5vh;
}







